<section id="delivery" class="footer">
  <div class="wrapper">
    <div class="footer__block">
      <h2 class="section__title"><span class="highlight">Хватит думать! </span>Доставим заказ за 30 минут!</h2>
      <p>Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1
        минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы годимся нашим сервисом и
        сделаем всё, чтобы наш клиент был доволен и не остался голодный!</p>
    </div>
    <app-order></app-order>
  </div>
</section>
