:root {
	--base-size: 10px;
  --desktop-size: 1200px;
  --middle-size: 880px;

  --bg-primary: #fff;

  --title-primary: #ffaf18;
  --title-secondary: #bd985c;

  --text-primary: #b99150;
  --text-btn: #020303;

  --card-text: #181a1a;
  --card-title: #382400;
}
