@import 'src/style/ui-kit-typography.scss';

form {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: auto;
}

.input-container {
  max-height: 66px + 23px;
}

.error-message {
  margin-top: -17px;
  font-size: 10px;
  color: var(--error-text);
}
