@import 'src/style/ui-kit-typography.scss';
@import 'src/style/ui-kit-colors.scss';

@font-face {
  font-family: Muller;
  src: url('./assets/fonts/MullerRegular.otf');
}

@font-face {
  font-family: Muller;
  src: url('./assets/fonts/MullerBold.otf');
  font-weight: bold;
}

@font-face {
  font-family: MullerBlack;
  src: url('./assets/fonts/MullerBlack.otf');
}

@font-face {
  font-family: MullerExtraBold;
  src: url('./assets/fonts/MullerExtraBold.otf');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	height: 100%;
}

html {
	display: flex;
	min-height: 100%;
	font-size: var(--base-size);
	background-color: var(--bg-primary);
	scroll-behavior: smooth;
}

body {
  @extend %body-1;
	flex: 1;
	min-height: 100%;
	text-rendering: optimizespeed;
}

ul {
  list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

input {
  @extend %text-form;
  padding: 10px;
  border: 1px solid var(--text-primary);
  border-radius: unset;
  width: 100%;
	height: 60px;
  margin-bottom: 23px;

	&::placeholder {
		@extend %text-form;
	}

	&:focus {
		border-width: 2px;
		outline: none;
	}
}

.wrapper {
  display: flex;
	margin: auto;
  max-width: var(--desktop-size);
}

.nowrap {
	white-space: nowrap;
}

.highlight {
	color: var(--title-primary);
}

.section__title {
	@extend %title-2;
	margin-bottom: 53px;
	text-align: center;
}

.footer {
  padding-top: 236px;
	padding-bottom: 104px;
  background: no-repeat right 17% bottom 25% url("./assets/png/pizzzzza.png");
}
