@import 'src/style/ui-kit-typography.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 45px;
  max-width: 618px;
}

.grid-item {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.icon {
  width: 60px;
  height: 60px;
  margin-right: 17px;
}

.grid-item__content {
  display: flex;
  flex-direction: column;
}

.grid-item__title {
  @extend %title-3;
  padding-bottom: 3px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
