<div class="grid-container">
  <div class="grid-item">
    <img src="./assets/svg/hop.svg" alt="Icon 1" class="icon">
    <div class="grid-item__content">
      <h3 class="grid-item__title">Лучшее тесто</h3>
      <p>Мы создаем тесто только из  отборной итальянской муки наивысшего качества</p>
    </div>
  </div>
  <div class="grid-item">
    <img src="./assets/svg/kitchen-pack.svg" alt="Icon 2" class="icon">
    <div class="grid-item__content">
      <h3 class="grid-item__title">лучшие повара</h3>
      <p>Пиццы готовят самые профессиональные итальянские повара</p>
    </div>
  </div>
  <div class="grid-item">
    <img src="./assets/svg/seo-and-web.svg" alt="Icon 3" class="icon">
    <div class="grid-item__content">
      <h3 class="grid-item__title">гарантия качества</h3>
      <p>Наша пиццерия получила множество наград и признаний по всему миру</p>
    </div>
  </div>
  <div class="grid-item">
    <img src="./assets/svg/holidays.svg" alt="Icon 4" class="icon">
    <div class="grid-item__content">
      <h3 class="grid-item__title">отборные рецепты</h3>
      <p>Мы используем рецепты <span class="nowrap">от мировых</span> лидеров в изготовлении пиццы</p>
    </div>
  </div>
</div>
